/** Main colors */
$primary : #003057;
$secondary : #00C4B3;
$tertialy: #248ED8;

/** Secondary colors */
$snow: #ffffff;
$pearl: #EFF1F2;
$smoke: #D7DADB;
$fossil: #9A9A9A;
$shadow: #525354;
$ink: #000000;
